# Dependencies
node_modules/

# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs (but keep frontend docs)
docs/
!frontend/docs/
!frontend/app/docs/

# Dotenv file
.env
*.tar

# macOS
.DS_Store
